body {
  margin: 0;
}

.aboutme {
  background: linear-gradient(45deg, #7677A2 40%, #D996B2 90%);
  min-height: 60vh;
  display: flex;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: #7b7b7b
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}